<h3>
    Hello from Index.
</h3>
{{!-- <a href="/orders">Orders</a>   --}} {{!-- works... but triggers a full page refresh --}}

{{#link-to "orders" tagName="button" class="orders-link"}}Orders{{/link-to}}
{{!-- actually renders to DOM essentially as above. But ember watches for click event and basically intercepts the handler --}}
{{!-- ** Updates the URL (back-button, bookmarks, etc... preserves state) --}}

{{!--
* Ember helper tags
> debugger
> each
> if
> input
> link-to
> log
> textarea
> unless
 --}}
