
<p>Hello from orders</p>

Orders:<br>
{{#each model as |order|}}
    {{#link-to "orders.order" order}} {{!-- a little interesting that it requires specifying the 'abslute' application route... even though we are currently in 'orders' --}}
        Order {{order.id}} for {{order.name}}<br>
    {{/link-to}}
{{/each}}

{{outlet}} {{!-- now required b/c orders is a parent route --}}
